<div class="container container-story center-block">
  <div class="title-header text-center">

    <% if @moderation.present? %>

        <h3><%= t("story.edit") %> <%= @moderation.try(:title) || t("story.label") %>
          <%#= @moderation.try(:date_time).try(:present?) ? "(#{@moderation.try(:date_time)})" : "" #%></h3>
            <%= render partial: "shared/story_topics", locals: {items: @moderation.try(:topics)} %>
        <br>
        <% form_url = topic_story_moderation_url(@topic, @story, @moderation) if @topic.present? && @story.present? && @moderation.present? %>
        <% form_url = topic_moderation_url(@topic, @moderation) if @topic.present? && @moderation.present? %>
        <%= form_for @moderation, url:form_url, action:"update", html: {class: "form-horizontal story_form"} do |f| %>

            <%= render partial: "form", locals: {f: f} %>

        <% end %>
    <% else %>
        <h3><%= t("no_story") %></h3>
    <% end %>

  </div>
</div>