<div class="container container-story center-block">
  <div class="title-header text-center">

    <% @topic.try(:title) %>
    <% if @moderation.present? %>
        <% if @story.present? # update action   %>

            <h1><%= t("story.edit") %>: <%= @story.try(:title) %>
              <%#= @story.try(:date_time).try(:present?) ? "(#{@story.try(:date_time).try(:strftime, "%b %Y %H:%M")})" : "" #%></h1>
            <%= render partial: "shared/story_topics", locals: {items: @moderation.try(:topics)} %>

        <% else # create action   %>
            <h1><%= t("story.new") %></h1>

        <% end %>
        <br>
        <%= form_for @moderation, url: {action: "create"}, html: {class: "form-horizontal story_form"} do |f| %>

            <%= render partial: "form", locals: {f: f} %>

        <% end %>
    <% else %>
        <h3><%= t("no_story") %></h3>
    <% end %>
  </div>

</div>