<%
   items = group_by_date_time(items)
%>
<% items.try(:each) do |dt_item| %>
    <% main_date_time = dt_item.try(:[], :date_time) %>
    <% main_items = dt_item.try(:[], :items) %>
    <% if main_date_time.present? && main_items.present? && main_items.any? %>
        <li>
          <div class="timeline-badge">
            <%= main_date_time %>
          </div>
          <div class="timeline-panel">

            <% main_items.try(:each) do |hitem| %>
                <% item = hitem.try(:[], :item) %>
                <% date_time = hitem.try(:[], :dt) %>
                <% topic = hitem.try(:[], :topic) %>
                <% url_story = topic_story_path(topic, item) %>

                <% if url_story.present? %>
                    <div class="timeline-heading">
                      <div class="round"></div>
                      <p class="text-muted"><%= date_time %></p>
                      <h4 class="timeline-title"><a href="#"><%= link_to item.try(:title), url_story %></h4>
                    </div>
                    <div class="timeline-body">
                      <p>
                        <%=stext_or_text(item.try(:stext), item.try(:text), 150) %>
                        <%#= item.try(:stext).try(:html_safe) || item.try(:text).try(:html_safe) #%>
                        (<%= link_to t("story.read_more"), url_story, class: "read-more" %>)
                      </p>

                      <p class="autor">Listed Under:
                        <% item.try(:topics).try(:each) do |itopic| %>
                            <%= link_to itopic.try(:title), topic_path(itopic) if itopic.present? and itopic.try(:id).try(:present?) %>,
                        <% end %>
                      </p>
                    </div>
                <% else %>
                    <!--story_url_invalid-->
                <% end %>
            <% end %>
          </div>
        </li>
    <% end %>
<% end %>


