<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <% @stories.each do |item| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left text-center">
                    <h3><%= item.date_time.strftime("%Y") %></h3>
                    <h4><%= item.date_time.strftime("%b") %></h4>
                    <h5><%= item.date_time.strftime("%H:%M") %></h5>
                    <!--<a href="#">-->
                    <!--<img class="media-object" src="..." alt="...">-->
                    <!--</a>-->
                  </div>
                  <div class="media-body">
                    <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->

                    <% topic = item.try(:topics).try(:first) %>
                    <h3 class="media-heading"><%= link_to topic.title, topic_path(topic) %>
                      / <%= link_to item.title, story_path(item) %></h3>
                    <!--</div>-->
                    <!--<div class="panel-body">-->

                    <%= item.text.html_safe %>
                    <!--</div>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>