<!-- Sidebar -->
<div id="sidebar-wrapper" class="lsidebar ">
  <ul class="sidebar-nav">
    <li class="">
      <h4><%= link_to t(:home_page), root_path %></h4>
    </li>
    <li>
      <h5><%= link_to "<< "+t("topics"), topics_path %></h5>
    </li>
    <li class="sidebar-brand">
      <%= link_to t(:stories), stories_path %>
    </li>
    <li>
      <!--<a href="#" class="btn btn-success btn-story" role="button"><%= t("story.new") %></a>-->
      <%=link_to t("story.new"), new_story_path, class:"btn btn-success btn-story", role:"button" %>
    </li>
    <% if @stories.present? && @stories.any? %>
        <% @stories.each do |item| %>
            <li>
              <div class="media">
                <!--<div class="media-left">-->
                <!--<a href="#">-->
                <!--<img class="media-object" src="..." alt="...">-->
                <!--</a>-->
                <!--</div>-->
                <div class="media-body">
                  <!--<h4 class="media-heading"></h4>-->
                  <%= link_to item.try(:title), story_path(item) %>

                  <p class="story-date">
                    (<%= item.try(:created_at).try(:strftime, "%d %B %Y %H:%M") %>)
                  </p>
                </div>
              </div>
            </li>
        <% end %>

        <%= render partial: "home/pager", locals: {items: @stories, class_name: "btn-more"} %>

    <% else %>
        <li>
            <%= t(:no_stories) %>
        </li>
    <% end %>
  </ul>
</div>
<!-- /#sidebar-wrapper -->