<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><%= t("all_stories") %></a>-->
        <% if @story.present? %>
             <%= render partial: "home/link_to_edit" %>

            <div class="thumbnail text-center">
              <h3><%= @story.try(:title) || t(:no_story) %> (<%= @story.try(:updated_at) %>)</h3>
              <%= render partial: "home/story_topics", locals: {items: @story.try(:topics)} %>

              <div class="caption">
                <p><%= @story.try(:text).try(:html_safe) %></p>
              </div>
              <!--<img src="http://media.jrn.com/images/640*360/Generic+President+Barack+Obama+Smiling.jpg"/>-->
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3><%= t("story.source") %></h3>
              </div>
              <div class="panel-body">
                <% @story.try(:sources).try(:uniq).try(:each) do |source| %>
                    <p><%= source.try(:title) %> <%= link_to source.try(:url), source.try(:url) %> </p>
                <% end %>
              </div>
            </div>
        <% else %>
            <h3><%= t(:no_story) %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->