<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><%= t("all_stories") %></a>
        <% if @story.present? %>

            <%= render partial: "home/story_topics", locals: {items: @story.try(:topics)} %>

            <h2><%= t("story.edit") %></h2>
            <br>
            <%= form_for @story, url: {action: "update"}, html: {class: "form-horizontal story_form"} do |f| %>

                <% hidden_field_tag "topic_id", @topic.try(:id) || 0 %>

                <div class="form-group">
                  <label for="story_title" class="col-sm-2 control-label"><%= t("topics") %></label>
                  <div class="col-sm-10">
                    <%= collection_select(:story, :topic_ids, Topic.order(title: :asc), :id, :title_with_date, {prompt: false, include_blank: true, include_hidde: false}, {multiple: true, class: 'form-control'}) %>

                    <% f.select :topic_ids, options_for_select(@topics.map { |t| [t.try(:title), t.try(:id)] }, :selected => @topic.try(:id)), {}, {:class => 'form-control'} %>
                    <% f.fields_for :topic do |topic| %>
                        <% topic.collection_select(:ids, Topic.order(title: :asc).to_a, :id, :title_with_date, {:selected => @story.try(:topics).try(:map, &:id), include_blank: true, include_hidden: false}, {multiple: true, class: 'form-control'}) %>
                        <% collection_select(:topic_ids, :ids, Topic.order(title: :asc), :id, :title_with_date, {prompt: true, include_blank: true, include_hidde: false}, {multiple: true, class: 'form-control'}) %>
                    <% end %>
                  </div>
                </div>

                <div class="form-group">
                  <label for="story_title" class="col-sm-2 control-label"><%= t("story.title") %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :title, class: "form-control", id: "story_title", placeholer: t('story.title') %>
                  </div>
                </div>

                <div class="form-group">
                  <label for="story_text" class="col-sm-2 control-label"><%= t("story.text") %></label>
                  <div class="col-sm-10">
                    <%= f.text_area :text, class: "form-control", rows: 5, id: "story_text", placeholer: t('story.text') %>
                  </div>
                </div>

                <div class="form-group">
                  <label for="story_source" class="col-sm-2 control-label"><%= t("story.source") %></label>
                  <div class="col-sm-10">
                    <%= collection_select(:story, :source_ids, Source.order(title: :asc), :id, :title_and_url, {prompt: false, include_blank: true, include_hidde: false}, {multiple: true, class: 'form-control'}) %>
                  </div>
                </div>

                <% f.fields_for :source_ids do |source_form| %>

                    <div class="form-group">
                      <label for="story_source" class="col-sm-2 control-label"><%= t("story.source") %></label>

                      <div class="col-sm-10">

                        <%= f.fields_for :source_ids do |source| %>
                            <%= source.collection_select(:id, Source.order(title: :asc).to_a, :id, :title_and_url, {:selected => @story.try(:sources).try(:map, &:id), include_blank: true, include_hidden: false}, {multiple: true, class: 'form-control'}) %>
                            <% collection_select(:source, :id, Source.order(title: :asc), :id, :title_and_url, {prompt: true, include_blank: true, include_hidde: false}, {multiple: true, class: 'form-control'}) %>
                        <% end %>
                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--<%= source_form.label :title, class: "col-sm-1" %>-->
                        <!--<%= source_form.text_field :title, class: "col-sm-3" %>-->
                        <!--<%= source_form.label :url, class: "col-sm-1" %>-->
                        <!--<%= source_form.text_field :url, class: "col-sm-7" %>-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--
                        <% source_form.text_field :sources, class: "form-control", rows: 5, id: "story_source", placeholer: t('story.source') %>-->
                        <!-- -->

                      </div>
                    </div>
                <% end %>



                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <!--<button type="submit" class="btn btn-default">t("story.new")</button>-->
                    <%= f.submit t("story.edit"), class: "btn btn-primary btn-block" %>
                  </div>
                </div>

            <% end %>
        <% else %>
            <h3><%= t("no_story") %></h3>
        <% end %>

      </div>
    </div>
  </div>
</div>