<div class="container container-story">
  <div class="title-header text-center">
    <h1><%= @story.try(:title)%></h1>
    <p class="text-muted"><%= @story.try(:date_time).try(:strftime, "%d %B %H:%M") %></p>

  </div>
  <div class="text-center">
    <%= render partial: "shared/btn_edit_story"%>
  </div>
  <ul class="timeline one-story">
    <li>
      <div class="timeline-badge"><%= @story.try(:date_time).try(:strftime, "%b %Y") %></div>
      <div class="timeline-panel panel-time">
        <div class="round"></div>
        <div class="timeline-body article">

          <p><%=@story.try(:text).try(:html_safe)%></p>

          <p class="autor line">Listed Under:
          <%= render partial: "shared/story_topics", locals: {items: @story.try(:topics)} %></p>

          <div class="row">
            <div class="col-lg-12 clearfix">
              <div class="sourse">
                <p>Sources:&nbsp </p>
              </div>
              <%= render partial: "shared/sources" %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>